body {
  background: #8e7a3d;
}

.img-hero {
    height: 50vh;
    width: 50vh;
  
    /* image de background */
    background-image: url("img/bg-1.png");

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
