body {
  background: #8e7a3d;
}

.img-hero {
    height: 50vh;
    width: 50vh;
  
    /* image de background */
    background-image: url("img/bg-2-2.png");

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .btn-primary {
    background-color: #a8293c;
    border-color: #a8293c;
  }



  .wave-container {
    background: #ffffff;
  }
  .wave-container > svg {
    display: block;
  }

